html, body {
  margin:0px;
  padding:0px;
  height: 100%;
  width:100%;
  background-color: black;
  color: white;
  font-size: 2.5vmin;
  position: absolute;
  top:0;
  left: 0;
  z-index: -11;

}
.upgrade {
  width:80%;
  height: 25px;
  color:white;
  border-radius: 0.5em;
  padding-top:0.2em;
  padding-left:0.2em;
  padding-right:0.2em;
  background-color: rgba(155,155,155,0.4);
  text-align: center;
}
.upgrade:hover {
  background-color: rgba(155,155,155,0.5); 
}
#upgrades {
  position: absolute;
  right: 0;
  width:50%;
  height:100%;
  top:0;
  z-index: 10;
}
canvas {
	position: absolute;
	top:0;
	left: 0;
	cursor:none;
}
#money {
  border-radius:1em;
  
  position: absolute;
  z-index: -10;
  width:10%;
  left:70%;
  top:25%;
  padding:0.2em;
  text-align: center;
  background-color: rgba(255,255,0,0.5);
  box-shadow:0em 0em 0.5em 0.5em rgba(255,255,0,0.5);
}
#score {
  border-radius:1em;
  
  position: absolute;
  z-index: -10;
  width:10%;
  left:70%;
  top:5%;
  padding:0.2em;
  text-align: center;
  background-color: rgba(255,255,0,0.5);
  box-shadow:0em 0em 0.5em 0.5em rgba(255,255,0,0.5);
}

.dialog {
	display:none;
}

.pauseButton img, .muteButton img{
  width:50px;
  height:50px;
}